@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px ;
    background-color: #cafdff;
    align-items: center;
}

.logo{
    width: 150px;
    height: 50px;
}
a{
    color: black;
    font-size: 24px;
    font-weight: 700;
}
ul{
    display: flex;

}

li{
    list-style-type: none;
    padding-left: 16px;
}
.logo2{
    height: 300px;
    width: 300px;
}
header{
    background: #eadcff;   
    display: flex;
    justify-content: center;
    align-items: center;    
    height: calc(100vh - 70px);
    padding: 24px;
}
h1{
    font-size:72px ;
}

.subheader{
    font-size: 36px;
    margin: 16px 0 24px 0 ;
}
button{
    border: none;
    background: #05c7cf;
    color: white;
    padding: 8px 16px;
    font-size: 24px;
    cursor: pointer;
}
.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about,
#discord,
#about{
    padding: 48px 0;    

}

/* about--sec */

#about{
background: #f8ffdc;
}

h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.sec_desc{
    display: flex;
    justify-content: center;
    align-items: center;
}


.about_img_wrap{
width: 40%;
}

img{
    width: 100%;
}
.sec_desc_wrapper{
    width: 60%;
}

.sec_desc_wrapper,
.about_img_wrap{
 padding: 0 24px;
}


.sec_para_wrapper{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}

/* discord */
#discord{
    background: #cefeff;
        padding: 48px 0;    

    
}




